{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type = "text/css" href="{% static 'css/team.css' %}">
    </head>
    <body>     
        <h2>You have been logged out</h2>             
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}" style="color:#fff;">Login Again</a> 
            </small>
        </div>      
    </body>
</html>