{% extends "base.html" %}
{% block content %}
    <style>
        .title {
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-50%,-50%);
        }

        .title  h1{
            color: cornsilk;
            font-size: 70px;
        }
        .slider{
            opacity: 0.7;
             
        }
    </style>
                
    <div class="title">
        <h1>Big Tournament coming soon.</h1>
    </div>
{% endblock content %}

